<h1>Make your form here</h1>

<form method="post" action="/pirates">
    <p><label> Pirate: </label></p>
    <p><label> Ship: </label></p>
    <p><label> Ship: </label></p>

    <input type="submit" >
</form>
